# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Prevention of Mistakes
upload.php
hangul_clock_base/sample_1000_1500.png
hangul_clock_base/milky_way_1000_1500.png
hangul_clock_base/hangul_clock_design.aep